<div id="sidebar">
    <button><%= image_tag "company_logo.svg", alt: "Big Company" %><span class="company_name">Big Company</span></button>
    <ul id="sidebar_links">
        <li class="sidebar_item"><a href="#"><div class="sidebar_link"><span class="dashboard_icon"></span></div>Dashboard</a></li>
        <li class="sidebar_item active"><a href="#"><div class="sidebar_link"><span class="templates_icon"></span></div>Templates</a></li>
        <li class="sidebar_item"><a href="#"><div class="sidebar_link"><span class="candidates_icon"></span></div>Candidates</a></li>
    </ul>
</div>