<header>
    <a href="#" class="datacompass_logo"><%= image_tag "datacompass_logo.svg", alt: "Data Compass" %></span></a>
    <form id="header_search_form">
        <span class="search_icon"></span>
        <input type="text" class="header_search_field" name="search_field" placeholder="Search candidate/template" />
    </form>
    <div class="header_profile">
        <%= image_tag "user_profile.svg", alt: "Jhaver Gurtiza" %>
        <span class="profile_name">Jhaver Gurtiza</span>
    </div>
</header>
