<div class="modal fade" id="template_preview_modal" tabindex="-1" aria-labelledby="template_preview_modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body preview_modal">
                <div class="preview_modal_header">
                    <button type="button" class="preview_close_btn"><span class="preview_close_icon"></span></button>
                </div>
                <div class="preview_modal_content">
                </div>
            </div>
        </div>
    </div>
</div>